<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <title>Carl Veksler</title>
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    
    <style>
      .row {
          width: 100%;
          overflow: auto;
          display: flex;
          justify-content: space-around;
      }
      
      .icon-bar a {
        display:inline-block; /* Float links side by side */
        width: 20%; /* Equal width (5 icons with 20% width each = 100%) */
        padding: 100px; /* Some padding */
      }
    </style>
    
    <meta name="viewport" content="width=device-width">

  </head>
  <body>
    <div class="wrapper">
      <header>
        <h1>Carl Veksler</h1>
        
        <img src="/kqke_img.jpg" alt="KQKE img">
        
        <p>CS Graduate</p>
       
        <div class="row">
          <a href="https://github.com/kqke" target="_blank"><i class="fa fa-github"></i></a>
          <a href="https://www.linkedin.com/in/cveksler" target="_blank"><i class="fab fa-linkedin"></i></a>
          <a href="mailto: cveksler@gmail.com" target="_blank"><i class="fa fa-envelope"></i></a>
        </div>
        
       

        <a href="http://molpopgen.github.io/fwdpp">Home</a>
        <br>
        <a href="http://molpopgen.github.io/fwdpp/doc/md/overview.html">Library overview</a>
        <br>
        <a href="http://molpopgen.github.io/fwdpp/doc/html/index.html">Reference manual</a>
        <br>
        <a href="https://groups.google.com/forum/#!forum/fwdpp-users">Google Group</a>
        <br>
        <a href="http://molpopgen.github.io/fwdpp/doc/md/examples.html">Example programs</a>
        <br>


        {% if site.github.is_project_page %}
          <p class="view"><a href="{{ site.github.repository_url }}">View the Project on GitHub <small>{{ github_name }}</small></a></p>
        {% endif %}

        {% if site.github.is_user_page %}
          <p class="view"><a href="{{ site.github.owner_url }}">View My GitHub Profile</a></p>
        {% endif %}
        
      </header>
      <section>

      {{ content }}

      </section>
      <footer>
        
    
      </footer>
    </div>
    <script src="{{ '/assets/js/scale.fix.js' | relative_url }}"></script>

  </body>
</html>
